.card-container {
  margin-top: 30px;
}

/* 暗黑模式設定 */
.nav-dark {
  background-color:rgb(44, 42, 42);
  border-bottom: 1px solid rgba(219, 219, 219, 0.5);
  box-shadow: 1px 1px 80px 0px rgba(240, 240, 240, 0.8);
  color:rgb(230, 230, 230);
}
.dark{
  background-color:rgb(44, 42, 42);
}
.dark-style {
  color: rgb(230, 230, 230);
}
/*  */


.container {
  border-radius: 8px;
  width:420px;
  min-height: 600px;
  margin:0 auto;
  text-align: center;
  border: 1px solid rgba(236,235,235,0.5);
  box-shadow: 0px 0px 4px 1px rgba(230, 228, 228, 0.5);
  position: relative;
  padding-bottom: 20px;
}

.totalamount {
  font-size: larger;
  font-weight: 800;
  background-color: rgba(100,100,100, 0.1);
  border-radius: 8px;
  box-shadow: 0px 0px 5px 1px rgba(230, 228, 228, 0.4);
  padding: 10px;
}
.totalamount-title {
  text-align: initial;
  padding-left: 30px;
}

.amount{
  font-size: 40px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group {
  display: flex;
  justify-content: space-around;
}

ul{
  text-align: center;
}

.item-group {
  width:90%;
  margin:0px auto;
}

.item {
    display: flex;
  width:100%;
  margin:0px;
}
.item-container {
  width: 100%;
  margin-left:20px ;
}
.light-item {
  background-color: rgba(151, 149, 149, 0.8);
  box-shadow: 1px 1px 1px 1px rgba(230, 228, 228, 0.8);
  border-radius: 8px;
}

.dark-item {
  background-color: rgba(71, 67, 67, 0.5);
  box-shadow: 1px 1px 1px 1px rgba(230, 228, 228, 0.5);
  border-radius: 8px;
}

.item-info {
  text-align: initial;
  padding: 0px;
}

.form-group{
  width: 45%;
}

.create-btn {
  width:90%;
  box-shadow: 2px 2px 10px 1px rgba(230, 172, 106, 0.6);
  margin: 0px 0px 10px ;
}

.edit,
.delete{
  color: aliceblue;
}

.feature-btn{
  display: flex;
}

.cash {
  display: flex;
  align-items: center;
}

.deleteBtn {
  margin: 0;
  padding: 0;
  border: 1px solid transparent; 
  outline: none;
  background-color: Transparent;
}